.key-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.33%, 1fr));
  grid-gap: 0;
  grid-auto-rows: minmax(60px, auto);
  grid-auto-flow: dense;
  width: 720px;
  box-sizing: border-box;
}

button.square {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

button.rectangle {
  grid-column-end: span 3;
  grid-row-end: span 1;
}

button.rectangle-2 {
  grid-column-end: span 9;
  grid-row-end: span 1;
}

button.rectangle-3 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

#area {
  width: 710px;
  height: 200px;
}
